.tag-game{
    padding: var(--spacing-very-small) var(--spacing-medium);
    background-color: var(--color-zero);
    border-radius: 2em;
}

.tag-game.-end{
    background-color:var(--color-nineth);
    text-transform: uppercase;
}